.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #f8f8ff;
    text-align: center;
    padding: 20px;
    color: #b57edc;
    margin-bottom: 10;
}

.footer .text-white {
    color: #b57edc;
}

