.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    background-color: #9370DB; /* Purple background */
    padding: 12px 24px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-brand img {
    height: 80px;
    width: auto;
    padding: 0;
    margin: 0;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link {
    color: #FFFFFF; /* White text */
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .navbar-nav .nav-link:hover {
    color: #9370DB; /* Purple text on hover */
    background-color: #FFFFFF; /* White background on hover */
    border-radius: 5px;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .btn {
    background-color: #9370DB; /* Purple background for buttons */
    color: #FFFFFF; /* White text for buttons */
    border: none;
    padding: 10px 20px;
    margin-left: 10px; /* Adjust margin as needed */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .btn:hover {
    background-color: #f8f8ff; /* Off-white background on hover */
    color: #9370DB; /* Purple text on hover */
}
